<mat-sidenav-container>
  <mat-sidenav #snav class="bajo-toolbar">
    <mat-nav-list>
      <a mat-list-item routerLink="home">Home</a>
      <a mat-list-item routerLink="notebook">My notebook</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar" color="primary">
      <button
        (click)="snav.toggle()"
        mat-icon-button
        color="accent"
        aria-label="Example icon button with a menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <button class="hideMovile" mat-button [routerLink]="['home']">
        Home
      </button>
      <button class="hideMovile" mat-button [routerLink]="['notebook']">
        My notebook
      </button>
      
    </mat-toolbar>
    <div class="bajo-toolbar grid-container">
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
